	<!--header class="navbar-fixed"-->
	<header>
	 	<nav class="blue-grey darken-2">
	    <div class="container nav-wrapper">
				<%= image_tag "logo.ico", class: "tiny material-icons class-logo" %>
				<%= link_to "VinimpMarket", root_path, class:"brand-logo vi-logo" %>

	      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
	      <ul class="right hide-on-med-and-down">
	      <li><%= link_to 'Vendi contenuto', new_content_path %></li>
	    		<% if user_signed_in? %>

						<!-- Dropdown Structure -->
						<ul id="dropdown1" class="dropdown-content">
						  <li><%= link_to "Dashboard", dashboard_path %></li>
						  <li><%= link_to "Impostazioni", edit_user_registration_path %></li>
						  <li><%= link_to "Vai ai contenuti", contents_path %></li>
						  <li class="divider"></li>
	    				<li><%= link_to "Esci", destroy_user_session_path, method: :delete %></li>
						</ul>
						<li><a class="dropdown-button" href="#!" data-activates="dropdown1"><%= current_user.name %><i class="material-icons right">arrow_drop_down</i></a></li>	  

	    		<% else %>
	    			<li><%= link_to "Log in",  new_user_session_path %></li>	 	  
	    			<li><%= link_to "Registrazione",  new_user_registration_path %></li>
	    		<% end %>
	      	
	      </ul>
	      <ul class="side-nav" id="mobile-demo">
	      <li><%= link_to 'Vendi contenuto', new_content_path %></li>
	    		<% if user_signed_in? %>

						<!-- Dropdown Structure -->
					
						  <li><%= link_to "Dashboard", dashboard_path %></li>
						  <li><%= link_to "Impostazioni", edit_user_registration_path %></li>
						  <li><%= link_to "Vai ai contenuti", contents_path %></li>
						  <li class="divider"></li>
	    				<li><%= link_to "Esci", destroy_user_session_path, method: :delete %></li>
							<li><%= current_user.name %></li>	  
	    		<% else %>
	    			<li><%= link_to "Log in",  new_user_session_path %></li>	 	  
	    			<li><%= link_to "Registrazione",  new_user_registration_path %></li>
	    		<% end %>    	

	      </ul>
	    </div>
	  </nav>	
	 </header>
